/target/
/.settings/
/.classpath
/.project
**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/extension-all/dependency-reduced-pom.xml
/extension-run/dependency-reduced-pom.xml
/examples/sso-kubernetes/operaton-db.mv.db
/operaton-db.mv.db
/.run/operaton-keycloak-root [clean,install].run.xml
pom.xml.versionsBackup
out/
sloc.txt
