name: Build project with Maven
on:
  pull_request: 
  push:
    branches:
      - master
  schedule:
  - cron: '2 2 * * 1-5' # run nightly master builds on weekdays

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Java setup
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - name: Cache
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Run Maven
      run: mvn -B clean verify
#      run: mvn -B clean install com.mycila:license-maven-plugin:check
